/*---------------------------
** PROPIEDADES PAGINA GUARDERIA
---------------------------*/

/*--------** Seccion: Introducción al servicio de hospedaje + imagenes -------------*/
.guarderiaInicio {
    @include medida-seccion;
}

.guarde-01 {
    @include box-estilo (10px, 02%);
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* PANTALLAS TABLET */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @include box-estilo (02px, 10px);
    }
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 97%;
        height: auto;
        padding: 02px;
    }
}

.guarde-txta {
    width: 50%;
    margin: 10px;
    overflow: auto;
    /* PANTALLAS TABLET */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 75%;
    }
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 97%;
        margin: 03px;
    }
}

.guarde-imga {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 4px 4px;
    grid-auto-flow: column;
    grid-template-areas:
    ".div .div"
    "div div";
}

.guaA, .guaB, .guaC, .guaD {
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 99%;
        height: auto;
    }
}



/*--------** Seccion: ¿Por que elegirnos? -------------*/
.guarde-02 {
    @include medida-seccion;
    padding: 10px;
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    overflow: auto;
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 02px;
    }
}

.guarde-txtb {
    width: 50%;
    margin: 10px;
    /* PANTALLAS TABLET */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 85%;
    }
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        @include box-tamano (99%, auto);
        margin: 02px;
    }
}

.guarde-imgb {
    @include box-estilo (05px, 02px);
    @include flex(center, center);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
    overflow: auto;
    img {
        /* PANTALLA CELULAR */
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: auto;
            max-width: 92%;
            margin: 03%;
        }
    }
}

/*--------** Seccion: Informacion extra sobre el beneficio de las guarderias -------------*/
.guarde-extra {
    margin: 02% 02%;
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    overflow: auto;
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 02px;
    }
}

.gua-extratx {
    width: 90%;
    @include box-estilo (05px, 20px);
    @include flex(center, center);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
    overflow: auto;
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 02px;
    }
}

.guard-list {
    @include box-estilo (05px, 02px);
    position: static;
    @include flex(center, center);
    flex-flow: column wrap;
    align-content: baseline;
    overflow: auto;
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin: 03px 01px;
        padding: 02px 03%;
    }
    li {
        background-color: $color-principal;
        font-family: $fuente-familia-parrafo;
        font-size: map-get($fuente, normal);    
        font-weight: 400;
        padding: 03px 30px;
        margin: 15px 100px;
            /* PANTALLAS TABLET */
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: map-get($fuente, normal);
            margin: 15px 30px;
        }
            /* PANTALLA CELULAR */
        @media screen and (min-width: 320px) and (max-width: 767px) {
            background-color: $color-principal;
            font-size: map-get($fuente, smallc);
            @include box-estilo (03px, 14px);
        }
    }
}

.guarde-extra iframe {
    /* PANTALLA CELULAR */
    @media screen and (min-width: 320px) and (max-width: 767px) {
        @include box-tamano (99%, auto);
        max-width: 100%;
        margin: 02px 01px;
        padding: 02px;
    }
}
